.page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.task1 {
  box-shadow: 0px 1px 0px 0px rgba(88, 16, 11, 0.25);
  background-color: rgba(249, 228, 173, 1);
  border-radius: 5px;
  height: 125rpx;
  width: 522rpx;
  margin-top: 30rpx;
  margin-left: 50rpx;
}

.task2 {
  width: 482rpx;
  height: 76rpx;
  margin: 24rpx 0 0 18rpx;
}

.task3 {
  height: 71rpx;
  width: 346rpx;
}

.task4 {
  width: 346rpx;
  height: 71rpx;
}

.task5 {
  width: 88rpx;
  height: 29rpx;
  overflow-wrap: break-word;
  color: rgba(137, 68, 0, 1);
  font-size: 30rpx;
  font-family: PingFang-SC-Heavy;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 30rpx;
  display: block;
}

.task6 {
  width: 88rpx;
  height: 25rpx;
  overflow-wrap: break-word;
  color: rgba(168, 91, 15, 1);
  font-size: 24rpx;
  font-family: PingFang-SC-Bold;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 25rpx;
  margin-top: 17rpx;
  display: block;
}

.task7 {
  width: 113rpx;
  height: 64rpx;
  margin-top: 12rpx;
}

.mod1 {
  height: 100%;
  background: url(https://t-www.aisky.io/bkzy/static/bg.png)
  no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.box1 {
  width: 100%;
  height: 100%;
  margin: 39rpx 0 0 0rpx;
  align-items: center;
}

.outer8 {
  z-index: 99;
  width: 720rpx;
  height: 139rpx;
}

.wrap1 {
  height: 139rpx;
  background: url(https://t-www.aisky.io/bkzy/static/index3.png)
    no-repeat;
    background-size: cover;
  width: 391rpx;
}

.mod2 {
  width: 334rpx;
  height: 116rpx;
  margin: 9rpx 0 0 10rpx;
}

.SingleAvatar1 {
  background-color: rgba(253, 197, 148, 1);
  border-radius: 10px;
  height: 116rpx;
  width: 102rpx;
}

.main2 {
  width: 102rpx;
  height: 105rpx;
  background: url(/static/face.png) -1rpx
    0rpx no-repeat;
    background-size: cover;
  margin-top: 11rpx;
}

.outer1 {
  width: 187rpx;
  height: 80rpx;
  margin-top: 25rpx;
}

.txt1 {
  width: 171rpx;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20rpx;
  
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 20rpx;
  display: block;
}

.outer2 {
  width: 187rpx;
  height: 47rpx;
  margin-top: 18rpx;
}

.txt2 {
  width: 90rpx;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 22rpx;
  
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 22rpx;
  margin-top: 10rpx;
  display: block;
}

.img1 {
  width: 54rpx;
  height: 47rpx;
}

.mod3 {
  height: 118rpx;
  background: url(https://t-www.aisky.io/bkzy/static/index5.png)
    no-repeat;
    background-size: cover;
  margin-top: 8rpx;
  width: 293rpx;
}

.word1 {
  width: 106rpx;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 22rpx;
  
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 22rpx;
  display: block;
  margin: 48rpx 0 0 132rpx;
}

.pic1 {
  width: 100rpx;
  height: 100rpx;
  margin-top: 20rpx;
}

.main3 {
  width: 100%;
  height: 571rpx;
  position: absolute;
  bottom: 500rpx;
  left: 0;
}

.img2 {
  z-index: 99;
  height: 216rpx;
  background: url(https://t-www.aisky.io/bkzy/static/index6.png)
    no-repeat;
    background-size: cover;
  margin-top: 445rpx;
  width: 145rpx;
}

.txt3 {
  text-shadow: 1rpx 2rpx 0rpx rgba(88, 16, 11, 0.56);
  background-image: linear-gradient(
    180deg,
    rgba(255, 191, 0, 1) 0,
    rgba(255, 191, 0, 1) 0,
    rgba(255, 243, 0, 1) 99.584961%,
    rgba(255, 243, 0, 1) 100%
  );
  width: 84rpx;
  height: 20rpx;
  -webkit-text-stroke: 1rpx rgba(157, 71, 11, 1);
  overflow-wrap: break-word;
  color: rgba(255, 245, 0, 1);
  font-size: 20rpx;
  
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 20rpx;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin: 86rpx 0 0 39rpx;
}

.outer3 {
  width: 541rpx;
  height: 521rpx;
  margin: 170rpx 0 0 -80rpx;
}

.outer4 {
  height: 472rpx;
  background: url(https://t-www.aisky.io/bkzy/static/tree4.png)
    no-repeat;
    background-size: cover;
  width: 541rpx;
}

.bd1 {
  width: 264rpx;
  height: 116rpx;
  margin: 74rpx 0 0 178rpx;
}

.section1 {
  width: 53rpx;
  height: 54rpx;
  border: 3px rgba(132, 69, 32, 1);
  background: url(https://t-www.aisky.io/bkzy/static/index2.png) -5rpx -5rpx
    no-repeat;
  margin: 12rpx 0 0 -3rpx;
}

.section2 {
  width: 53rpx;
  height: 54rpx;
  border: 3px rgba(132, 69, 32, 1);
  background: url(https://t-www.aisky.io/bkzy/static/index2.png) -5rpx -5rpx
    no-repeat;
  margin: -3rpx 0 0 59rpx;
}

.bd2 {
  width: 181rpx;
  height: 50rpx;
  margin: 9rpx 0 223rpx 165rpx;
  z-index: 99;
}

.outer5 {
  width: 53rpx;
  height: 54rpx;
  border: 3px rgba(132, 69, 32, 1);
  background: url(https://t-www.aisky.io/bkzy/static/index2.png) -5rpx -5rpx
    no-repeat;
  margin-top: -3rpx;
}

.outer6 {
  width: 53rpx;
  height: 54rpx;
  border: 3px rgba(132, 69, 32, 1);
  background: url(https://t-www.aisky.io/bkzy/static/index2.png) -5rpx -5rpx
    no-repeat;
  margin-top: -1rpx;
}

.info1 {
  height: 25rpx;
  -webkit-text-stroke: 1rpx rgba(157, 71, 11, 1);
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30rpx;
  font-weight: bold;
  font-family: PingFang-SC-Heavy;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 26rpx;
  display: block;
}

.outer7 {
  width: 128rpx;
  height: 376rpx;
}

.img3 {
  width: 128rpx;
  height: 128rpx;
}

.img4 {
  width: 128rpx;
  height: 128rpx;
  margin-top: 20rpx;
}

.main4 {
  width: 575rpx;
  height: 70rpx;
  margin: 13rpx 0 0 0rpx;
  align-items: center;
  justify-content: center;
}

.box2 {
  height: 50rpx;
  margin-top: 9rpx;
  width: 441rpx;
}

.img5 {
  width: 387rpx;
  height: 34rpx;
  margin: 8rpx 0 0 7rpx;
}

.Button1 {
  width: 119rpx;
  height: 70rpx;
  margin-top: -10rpx;
}

.main5 {
  width: 689rpx;
  height: 168rpx;
  margin-bottom: 90rpx;
  align-items: flex-end;
}

.img6 {
  width: 97rpx;
  height: 118rpx;
}

.img7 {
  width: 127rpx;
  height: 120rpx;
}

.img8 {
  width: 87rpx;
  height: 125rpx;
}

.pic3 {
  width: 95rpx;
  height: 124rpx;
}

.img9 {
  width: 162rpx;
  height: 168rpx;
}
